<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Scanner<small>Asset Details</small></h2>
            <div class="clearfix"></div>
            <a href="<%=new_scanner_path%>" class="btn btn-primary">New Scanner Asset</a>
          </div>
          <div class="x_content">
            <table id="datatable-buttons" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th style="width: 7%;">ID</th>
                  <th>Asset Tag</th>
                  <th>Host Name</th>
                  <th>Make</th>
                  <th>Model</th>
                  <th>Serial Number</th>
                </tr>
              </thead>
              <tbody>
                <% @scanner_details.each do |scanner| %>
                <tr>
                  <td><%=scanner.id%></td>
                  <td><%=link_to scanner.asset_tag, edit_scanner_path(scanner.id), {:style=>'text-decoration:underline;'}%></td>
                  <td><%=scanner.host_name%></td>
                  <td><%=scanner.make%></td>
                  <td><%=scanner.model%></td>
                  <td><%=scanner.serial_number%></td>
                  <td><%=link_to ' Remove', scanner_path(scanner.id), method: 'DELETE', data: {confirm: "Are you sure want to delete this?"},:class => 'fa fa-trash-o'%></td>
                </tr>
                <%end %>
              </tbody>
            </table>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>