<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Laptop<small>Asset Details</small></h2>
            <div class="clearfix"></div>
            <a href="<%=new_laptop_path%>" class="btn btn-primary">New Laptop Asset</a>
          </div>
          <div class="x_content">
            <table id="datatable-buttons" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th style="width: 7%;">ID</th>
                  <th>Asset Tag</th>
                  <th>Host Name</th>
                  <th>Make</th>
                  <th>Model</th>
                  <th>Serial Number</th>
                  <th>Mac Address</th>
                </tr>
              </thead>
              <tbody>
                <% @laptop_details.each do |laptop_detail| %>
                <tr>
                  <td><%=laptop_detail.id%></td>
                  <td><%=link_to laptop_detail.asset_tag, edit_laptop_path(laptop_detail.id), {:style=>'text-decoration:underline;'}%></td>
                  <td><%=laptop_detail.host_name%></td>
                  <td><%=laptop_detail.make%></td>
                  <td><%=laptop_detail.model%></td>
                  <td><%=laptop_detail.serial_number%></td>
                  <td><%=laptop_detail.mac%></td>
                </tr>
                <%end %>
              </tbody>
            </table>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>