<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12">
    <div class="page-title">
      <div class="title_left">
        <h3>Switch Edit Details</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
           <!--  <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span> -->
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row calendar-exibit">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_content">
                <br />
                <%=form_tag switch_path(@switch.id), :method => :put, :class=>"form-horizontal form-label-left" do %>
                <%= csrf_meta_tag %>
                <div class="ln_solid"></div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Asset TAG</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="asset_detail[asset_tag]" value="<%=@switch.asset_tag%>" class="form-control" placeholder="Asset TAG">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Host Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="asset_detail[host_name]" value="<%=@switch.host_name%>" class="form-control" placeholder="Host Name">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Asset Make</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select name="asset_detail[make]" class="form-control" value="<%=@switch.make%>">
                        <option value="">Choose Asset Make</option>
                        <% AssetMake.all.each do |am| %>
                          <option value="<%=am.name%>"><%=am.name%></option>
                        <%end%>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Model</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="asset_detail[model]" value="<%=@switch.model%>" class="form-control" placeholder="Model">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Mac Address</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="asset_detail[mac]" value="<%=@switch.mac%>" class="form-control" placeholder="Mac Address">
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Searial Number</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="asset_detail[serial_number]" value="<%=@switch.serial_number%>" class="form-control" placeholder="Searial Number">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">IP Address</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="asset_detail[ip_address]" value="<%=@switch.ip_address%>" class="form-control" placeholder="IP Address">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Entity</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="asset_detail[entity]" value="<%=@switch.entity%>" class="form-control" placeholder="Entity">
                    </div>
                  </div>


<div class="ln_solid"></div>
          <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Entity</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" name="asset_detail[entity]" value="<%=@switch.entity%>" class="form-control" placeholder="Entity">
          </div>
          </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Invoice Number</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="asset_detail[invoice_number]" value="<%=@switch.invoice_number%>" class="form-control" placeholder="Invoice Number">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Cost</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" class="form-control" name="asset_detail[cost]" value="<%=@switch.cost%>" placeholder="Cost">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Warranty Status</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" class="form-control" name="asset_detail[warranty_status]" value="<%=@switch.warranty_status%>" placeholder="Warranty Status">
                    </div>
                  </div>

                     
                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Warranty Start Date</label>
                      <div class='input-group date col-md-6 col-sm-6 col-xs-12' id='warranty_start_date'>
                          <input type='text' class="form-control" name="asset_detail[warranty_start_date]" value="<%=@switch.warranty_start_date%>"/>
                          <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                  </div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Warranty End Date</label>
                      <div class='input-group date col-md-6 col-sm-6 col-xs-12' id='warranty_end_date'>
                          <input type='text' class="form-control" name="asset_detail[warranty_end_date]" value="<%=@switch.warranty_end_date%>"/>
                          <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-12 control-label">Donation
                      <br>
                      <small class="text-navy"></small>
                    </label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="radio">
                        <label>
                            <%=radio_button_tag "asset_detail[is_donation]", "true", (@switch.is_donation=='true') %>
                            Yes
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                            <%=radio_button_tag "asset_detail[is_donation]", "false", (@switch.is_donation=='false') %>
                            No
                        </label>
                      </div>
                    </div>
                    </div>

<div class="ln_solid"></div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Department</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select name="asset_detail[department]" class="form-control" value="<%=@switch.department%>">
                        <option value="">Choose Department</option>
                        <% Department.all.each do |dept| %>
                          <option value="<%=dept.name%>"><%=dept.name%></option>
                        <%end%>
                      </select>
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Location</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" class="form-control" value="<%=@switch.current_location%>" name="asset_detail[current_location]" placeholder="Location">
                    </div>
                  </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Status</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" class="form-control" name="asset_detail[status]" value="<%=@switch.status%>" placeholder="Satus">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-12 control-label">Is Active
                      <br>
                      <small class="text-navy"></small>
                    </label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="radio">
                        <label>
                            <%=radio_button_tag "asset_detail[is_active]", "true", (@switch.is_active=='true') %>
                            No
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                            <%=radio_button_tag "asset_detail[is_active]", "false", (@switch.is_active=='false') %>
                            No
                        </label>
                      </div>
                    </div>
                    </div>


                    <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Verified on</label>
                        <div class='input-group date col-md-6 col-sm-6 col-xs-12' id='verified_on'>
                            <input type='text' class="form-control" value="<%=@switch.verified_on%>" name="asset_detail[verified_on]"/>
                            <span class="input-group-addon">
                               <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Verified By</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" class="form-control" value="<%=@switch.verified_by%>" name="asset_detail[verified_by]" placeholder="Verified By">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Purchased At</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" class="form-control" value="<%=@switch.purchased_at%>" name="asset_detail[purchased_at]" placeholder="Purchased At">
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Remarks
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <textarea class="form-control" rows="3" placeholder="Enter your comments" name="asset_detail[remarks]"><%=@switch.remarks%></textarea>
                    </div>
                  </div>


                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
<!--                       <a href="" class="btn btn-primary">Cancel</button>
 -->                      <button type="submit" class="btn btn-success">Update</button>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>


<script type="text/javascript">

  $(document).ready(function(){
    $('#myDatepicker').datetimepicker({
      format: 'YYYY-MM-DD HH:mm:ss',
    });
    $('#warranty_start_date').datetimepicker({
      format: 'YYYY-MM-DD HH:mm:ss',
    });
    $('#warranty_end_date').datetimepicker({
      format: 'YYYY-MM-DD HH:mm:ss',
    });
    $('#verified_on').datetimepicker({
      format: 'YYYY-MM-DD HH:mm:ss',
    })
  });
</script>
